@page
@model Сосновский.UI.Areas.Admin.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}




<h1>Create</h1>

<h4>Kosuhi</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="airplane.Name" class="control-label"></label>
                <input asp-for="airplane.Name" class="form-control" />
                <span asp-validation-for="airplane.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="airplane.Description" class="control-label"></label>
                <input asp-for="airplane.Description" class="form-control" />
                <span asp-validation-for="airplane.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="airplane.Category" class="control-label"></label>
                <select asp-for="airplane.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>

            <div class="mb-3">
                <label asp-for="Image" class="form-label">Изображение</label>
                <input asp-for="Image" class="form-control" />
            </div>
           
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
